.slider-container .slick-slider .slick-next {
    background-color: red;
}

.slider-container .slick-slider .slick-prev {
    background-color: red;
}


/* slick default arrow pseudo remove */
.slick-prev:before,
.slick-next:before {
    content: "" !important;
    /* ডিফল্ট Previous/Next টেক্সট/আইকন রিমুভ */
}

/* border এবং background রিমুভ */
.slick-prev,
.slick-next {
    border: none !important;
    background: transparent !important;
}